---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tristan</title>
		<h1>Hello World, I'm Tristan!</h1>
	
	
	</head>
	<body>
		<h2>Welcome to my site!</h2>
		<h2>- Currently, building on Astro</h2>
		<h2>- Learned how to repoint domains via DNS configuration</h2>
	</body>
</html>
