---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<h1>My Astro Site</h1>
	
	
	</head>
	<body>
		<h1>What I learned today</h1>
		<h2>- Astro</h2>
		<h2>- Github Actions</h2>
	</body>
</html>
